@font-face {
   font-family: 'PixelCode';
   font-display: swap;
   src: url('file:///C:/Users/mohdj/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-07-09_185454/fonts/PixelCode/font.woff');
}
